<%
// Settings
    page_title = 'Calendar',
    css_files  = ['style'],
    js_files   = ['index', 'TimeSlot'],
    navbar     = {
        title: page_title,
        link: '/',
        links: [
            {title: 'Frontend docs', link: '/docs-frontend'},
            {title: 'Backend docs', link: '/docs-backend'}
        ]
    }

// Document
%>

<%- include('partials/html-start') %>
    <%- include('partials/navbar') %>
    <div class="container" >
        <div class="row">
            <div class="col s6 m4 l2">
                <div class="card-panel center">
                    <h6>Monday</h6>
                    <hr/>
                    <div id="react-root"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card-panel">
            <div class="center container">
                <div class="row">
                    <!--chips demo-->
                    <div class="chips col s12">
                        <div class="chip">
                            Jane Doe
                            <i class="close material-icons">close</i>
                        </div>
                        <div class="chip">
                            John Doe
                            <i class="close material-icons">close</i>
                        </div>
                        <div class="chip">
                            Sandy
                            <i class="close material-icons">close</i>
                        </div>
                        <div class="chip">
                            Jonathan
                            <i class="close material-icons">close</i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Switch -->
                    <div class="switch col s6 l3">
                        <label>
                        Off
                        <input type="checkbox">
                        <span class="lever"></span>
                        On
                        </label>
                    </div>
                    <!--Toast test-->
                    <a onclick="M.toast({html: 'Whatever you just did worked!'})" class="btn waves-effect col s6 l3 blue">Display Confirmation</a>
                </div>
            </div>
        </div>

        <!--Badges-->
        <div class="card">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header hoverable row">
                        <a href="#!" class="col s12 grey-text text-darken-2"><span class="new badge red lighten-1">2</span>Event Invitations</a>
                    </div>
                    <div class="collapsible-body">
                        <div class="collection">
                            <a href="#!" class="collection-item blue-text">Event 1</a>
                            <a href="#!" class="collection-item blue-text">Event 2</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="card-panel col s6 hoverable">
                card 1<br>card 1<br>card 1<br>
            </div>
            <div class="card-panel col s6 hoverable">
                card 2<br>card 2<br>card 2<br>
            </div>
        </div>
    </div>
<%- include('partials/html-end') %>
